<div id="jobs">
    {% for cname, cjobs in jobs %}
        {% if cjobs|length %}
            {% set category = cjobs[0].category.id %}
        <div class="category_{{ cname|lower|replace(' ', '_') }}">
            <div class="category">
                <h1><a href="{{ path('jobz_front_category_details', { id: category }) }}">{{ cname }}</a></h1>
            </div>
        </div>
        <table class="jobs">
            <tbody>
            {% for job in cjobs %}
                {{ include('@Front/FrontController/_job.html.twig', { job: job }) }}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endfor %}
</div>