{% extends "@Front/layout.html.twig" %}

{% block content %}
    <div id="jobs">
        <div class="category_{{ category.name }}">
            <div class="category">
                <h1>
                    <a href="{{ path('jobz_front_category_details', { id: category.id }) }}">{{ category.name|capitalize }}</a>
                </h1>
            </div>
            <table class="jobs">
                <tbody>
                {% for job in jobs %}
                    {{ include('@Front/FrontController/_job.html.twig', { job: job }) }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
